<!-- <header class="section header" id="header">
  <div class="container header-container">
    <a href="#header" class="header-logo-link">
      <img
        srcset="./img/Jefferson1x-mob.jpeg 1x, ./img/Jefferson2x-mob.jpeg 2x"
        src="./img/Jefferson1x-tab.jpeg"
        alt="my-photo"
        class="header-img"
      />
      <svg
        width="84"
        height="19"
        viewBox="0 0 84 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d=""
          fill="#FAFAFA"
        />
        <path
          d=""#FAFAFA"
        />
        <path
          d="#FAFAFA"
        />
        <path
          d="#FAFAFA"
        />
        <path
          d=""#FAFAFA"
        />
        <path
          d=""#FAFAFA"
        />
        <path
          d=""
          
        />
        <path
          d=""
          fill="#FAFAFA"
        />
        <path
          d=""#FAFAFA"
        />
      </svg>
    </a>
    <div class="dropdown-menu-wrapper">
      <button type="button" class="header-menu-btn">Menu</button>
      <ul class="dropdown-menu-list">
        <li class="dropdown-menu-item">
          <a class="dropdown-menu-link" href="#about-me">About Me</a>
        </li>
        <li class="dropdown-menu-item">
          <a class="dropdown-menu-link" href="#benefits">Benefits</a>
        </li>
        <li class="dropdown-menu-item">
          <a class="dropdown-menu-link" href="#projects">Projects</a>
        </li>
        <li class="dropdown-menu-item">
          <a class="dropdown-menu-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </div>
    <a href="#footer" class="header-order-project-btn">Order the project</a>
    <button type="button" class="header-open-menu-btn">
      <svg
        width="24"
        height="12"
        viewBox="0 0 24 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d=""
          stroke="#FAFAFA"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</header> -->
<header class="header">
  <div class="header-wrapper container">
    <a href="./index.html" class="logo">
      <img
        srcset="./img/header-logo@x1.png 1x, ./img/header-logox2.png"
        src="./img/header-logo@x1.png"
        alt="site logo"
      />
      <p class="logo-text">jefferson*</p>
    </a>
    <div class="navigation">
      <span class="menu">Menu</span>
      <nav class="navi">
        <ul class="nav-wrapper">
          <li class="nav-item">
            <a class="nav-link" href="#abouts-me">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#benefits">Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
    <button class="open-menu-btn" type="button" aria-label="Open menu button">
      <svg class="burger-menu" width="28" height="28">
        <use href=""></use>
      </svg>
    </button>
    <a class="order-links" href="#order"> Order the project </a>
  </div>
</header>
