<section class="container section-hero" id="hero">
  <div class="container-hero">
    <h1 class="hero-header">
      Hello.<br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero_list">
      <li class="hero_list_items">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          class="hero_social_media"
          >IG</a
        >
      </li>
      <li class="hero_list_items">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          class="hero_social_media"
          >FB</a
        >
      </li>
      <li class="hero_list_items">
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          class="hero_social_media"
          >YT</a
        >
      </li>
  
      <li class="hero_list_items">
        <a
          href="https://github.com/DmytroK-goit/project-js-group02"
          class="hero_social_media"
          >GH</a
        >
      </li>
      <li class="email">
        <a href="mailto:lloydjefferson@gmail.com" class="hero_email"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
  
</section>
