<section class="container" id="reviews">
  <div class="review-container">
    <h3 class="review-title">REVIEWS</h3>

    <div class="swiper-review">
        <ul class="swiper-wrapper reviews-list list-reviews-script"></ul>
      </div>
      <!-- navigation buttons -->
      <div class="review-btn-container">
        <div class="swiper-button-prev-review review-btn">
          <svg class="review-btn-svg review-left-arrow icon-left-review" width="24" height="24">
            <use href="./img/javascript.svg#icon-arrow-narrow-right-new"></use>
          </svg>
        </div>
        <div class="swiper-button-next-review review-btn">
          <svg class="review-btn-svg icon-right-review" width="24" height="24">
            <use href="./img/javascript.svg#icon-arrow-narrow-right-new"></use>
          </svg>
        </div>
      </div>
      <!-- <div class="swiper-pagination"></div> -->
    </div>
  </div>
</section>

