<section class="container" id="reviews">
  <div class="review-container">
    <h3 class="review-title">REVIEWS</h3>

    <div class="swiper-review">
      <ul class="swiper-wrapper reviews-list list-reviews"></ul>

      <div class="swiper-button-next-review"></div>
      <div class="swiper-button-prev-review"></div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="swiper-button-review">
      <div class="swiper-button-next-review">
        <svg class="swiper-button-icon icon-right" width="24" height="24">
          <use href="../img/javascript.svg#icon-arrow-narrow-right-new"></use>
        </svg>
      </div>
      <div class="swiper-button-prev-review">
        <svg class="swiper-button-icon icon-left" width="24" height="24">
          <use href="../img/javascript.svg#icon-arrow-narrow-right-new"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
