<div class="work-together-block">
  <section class="container work-together" id="work-together">
    <div class="work-together-header-cont">
      <img
        class="footer-img"
        src="./img/footer-img/lloyd-1x-min.png"
        srcset="
          ./img/footer-img/lloyd-1x-min.png 1x,
          ./img/footer-img/lloyd-2x-min.png 2x
        "
        alt="users-avatar-footer"
      />
      <h2>Let’s <span class="work-together-span">work</span> together</h2>
    </div>
    <form class="work-together-form">
      <input
        type="text"
        name="email"
        placeholder="clients@gmail.com"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        required
      />
      <input type="text" name="comments" placeholder="comments" />
      <button class="work-together-btn" type="submit">Send</button>
    </form>
    <address class="work-together-adress">
      <ul>
        <li class="work-together-items">
          <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>
        <li class="work-together-items">
          <a href="tel:+3801111111111">+380 11 1111 11 11</a>
        </li>
      </ul>
    </address>
  </section>
</div>
