.faq-section {
  margin-top: 64px;
  margin-bottom: 64px;
}

.faq-title {
  margin-bottom: 32px;

  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
}

.faq-section .faq-ac {
  border: 1px solid rgba(250, 250, 250, 0.2);
  box-sizing: border-box;

  border-right: none;
  border-left: none;

  background-color: #1c1d20;

  margin: 0;
  padding: 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.faq-accordion-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.faq-accordion-btn {
  stroke: #fafafa;
  fill: transparent;
}

.faq-section .faq-ac .faq-ac-header {
  color: #fafafa;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.4px;

  padding-top: 20px;
  padding-bottom: 16px;
  flex-grow: 1;
  padding-right: 40px;
}

.faq-section .faq-ac .faq-ac-trigger {
  padding-left: 0;
}

.faq-section .faq-ac .faq-ac-trigger::after {
  content: '';
}

.faq-ac .faq-ac-panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;

  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;

  color: rgba(250, 250, 250, 0.6);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;

  background-color: #1c1d20;
}

.faq-ac.is-active .faq-accordion-btn {
  transform: translateY(-50%) rotate(180deg);
}

/* -----------------------------  FOR TABLET ----------------------------- */

@media screen and (min-width: 768px) {
  .faq-section {
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .faq-ac-headerr {
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .faq-ac .faq-ac-panel {
    padding-right: 32px;
    padding-bottom: 26px;
  }

  .faq-accordion-btn {
    width: 40px;
    height: 40px;
  }
}

/* -----------------------------  FOR COMPUTER ----------------------------- */
@media screen and (min-width: 1440px) {
  .faq-section {
    margin-top: 164px;
    margin-bottom: 164px;
  }

  .faq-accordion-container {
    display: flex;
    flex-wrap: wrap;
  }

  .faq-ac {
    flex: 0 0 50%;
  }

  .faq-ac-header {
    padding-top: 32px;
    padding-bottom: 26px;
  }

  .faq-ac:nth-child(odd) {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
  }

  .faq-ac:nth-child(even) {
    padding-left: 16px;
  }

  .faq-ac:nth-child(odd) .faq-accordion-btn {
    right: 32px;
  }

  .faq-ac .faq-ac-panel {
    padding-right: 32px;
    padding-bottom: 26px;
  }

  .faq-accordion-btn {
    width: 40px;
    height: 40px;
  }
}
