.section-hero {
  background-image: url(../img/hero-img/hero_1x.png);
  color: rgb(57, 30, 30);
  background-size: contain;
  background-position: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.container-hero {
  text-align: center;
  padding: 0 16px;
  
}
.hero-header {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  color: rgba(250, 250, 250, 1);
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
  margin: 0;
}
.hero_list {
  position: absolute;
  bottom: 32px;
  right: 8px;
  display: flex;
  gap: 4px;
}

.hero_social_media,
.hero_email {
  display: inline-flex;
  justify-content: center;
  align-items: center;
   height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.hero_social_media:hover,
.hero_social_media:focus,
.hero_email:hover,
.hero_email:focus {
  border-color: rgba(237, 59, 68, 1);
}

.hero_email {
   padding: 0px 16px;
   border-radius: 50px;
  }
  .hero_social_media{
  width: 35px;}

/* ------tablet------------------------------------------------------------------------------ */
@media screen and (min-width: 768px) {
    .hero-header {
    font-size: 90px;
      }

  .hero_list {
    gap: 8px;
    padding: 0px 32px;
  }
  .hero_list_items {
    right: 32px;
  }

  .hero_social_media {
    width: 55px;
    height: 55px;
    font-size: 16px;
  }
  .hero_email {
    font-size: 16px;
    height: 55px;
  }
}
/* ------desktop------------------------------------------------------------------------------------------ */
@media screen and (min-width: 1440px) {
  .container {
    padding: 0px 32px;
    max-width: 1440px;
    
  }
  .section-hero {
    background-image: url(../img/hero-img/hero_2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-hero {
    width: 100%;
   
  }
  .hero-header {
    padding-left: 178px;
  }
}
