@media screen and (min-width: 768px) {
  .container {
    padding: 0px 32px;
    width: 704px;
    margin: 0 auto;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background: #1c1d20;
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 20px;
    padding: 64px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .btn-close {
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    padding: 0;
  }

  .btn-svg {
    fill: none;
    stroke-width: 2px;
    stroke: #fafafa;
    transition: stroke 0.2s;
  }

  .btn-close:hover .btn-svg {
    stroke: #bbb;
  }

  h2 {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fafafa;
    white-space: nowrap;
  }

  p {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(250, 250, 250, 0.6);
    width: 364px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0px 32px;
    width: 1376px;
    margin: 0 auto;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background: #1c1d20;
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 20px;
    padding: 64px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .btn-close {
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    padding: 0;
  }

  .btn-svg {
    fill: none;
    stroke-width: 2px;
    stroke: #fafafa;
    transition: stroke 0.2s;
  }

  .btn-close:hover .btn-svg {
    stroke: #bbb;
  }

  h2 {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fafafa;
    white-space: nowrap;
  }

  p {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(250, 250, 250, 0.6);
    width: 364px;
  }
}
