.project-head-text {
	color: rgba(250, 250, 250, 0.40);

font-family: "Inter Tight";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
text-transform: uppercase;
}

.swiper {
	display: flex;
	flex-direction: column;
	margin-top: 32px;
	border-radius: 24px;
	/* max-width: 1376px; */
	height: 625px;
	background: #FAFAFA;
}

.swiper-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 100%;
}

.swiper-item-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-left: 64px;
	width: 100%;
	height: 100%;
}

.swiper-item-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-top: 64px;
	margin-bottom: 223px;
}

.swiper-list-item {
	color: #1C1D20;
	display: flex;
	padding: 18px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 60px;
	border: 1px solid rgba(28, 29, 32, 0.20);
}

.swiper-list-skils {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	/* justify-content: flex-end; */
	gap: 6px;
}

.swiper-item-project-see {
	width: 494px;
	height: 132px;
	text-align: start;
}

.project-text-h3 {
	color: #1C1D20;
	font-family: "Inter Tight";
	font-size: 44px;
	font-style: normal;
	font-weight: 500;
	line-height: 44px; /* 100% */
	letter-spacing: -1.32px;
}

.project-link {
	display: inline-flex;
	padding: 18px 50px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 60px;
	background: #ED3B44;
	color: #FAFAFA;
	font-family: "Inter Tight";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.32px;
	margin-top: 50px;
}

.swiper-item-img {
	display: flex;
width: 50%;
height: 625px;
/* padding: 120px 37px; */
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 0px 24px 24px 0px;
background: #242527;
}

.swiper-item-img img {
	width: 614px;
height: 385px;
flex-shrink: 0;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 24px;
	width: 1376px;
	height: 625px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
	.container-project {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
	}
	.swiper {
		width: 343px;
		min-height: 812px;
	}

	.swiper-item {
		display: flex;
		flex-direction: column;
	}

	.swiper-item-text {
		display: flex;
		flex-direction: column;
		padding-left: 32px;
		padding-bottom: 50px;
		height: 50%;
	}

	.swiper-item-content {
		margin-top: 32px;
		margin-bottom: 76px;
		display: flex;
	}

	.swiper-list-skils {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 279px;
		gap: 6px;
	}

	.swiper-list-item {
		display: flex;
		padding: 13px 18px;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	.swiper-item-project-see {
		width: 279px;
		height: 84px;
	}

	.project-text-h3 {
		font-size: 24px;
		font-style: normal;
		line-height: 28px;
		letter-spacing: -0.72px;
	}

	.project-link {
		margin-top: 32px;
		margin-bottom: 50px;
		display: inline-flex;
		padding: 13px 32px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		color: #FAFAFA;
		
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.32px;
	}

	.swiper-item-img {
		height: 50%;
		width: 100%;
		border-radius: 0px;
	}

	.project-content-img {
		width: 311px;
		height: 195px;
		background-size: cover;
		background-position: center;
	}

	.img-1{
		background-image: url(../img/project-img/swiper_mob_img1_x1.png);
	}

	.img-2{
		background-image: url(../img/project-img/swiper_mob_img2_x1.png);
	}

	.img-3{
		background-image: url(../img/project-img/swiper_mob_img3_x1.png);
	}

	@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		.img-1{background-image: url(../img/project-img/swiper_mob_img1_x2.png);}
		.img-2{background-image: url(../img/project-img/swiper_mob_img2_x2.png);}
		.img-3{background-image: url(../img/project-img/swiper_mob_img3_x2.png);}
	}

	.swiper-button {
		display: flex;
		flex-direction: row;
		gap: 12px;
	}

	.swiper-button-icon {
		padding: 10px 10px;
		border: 1px solid #fff;
		border-radius: 50%;
		fill: rgba(250, 250, 250, 0.1);
		stroke: #fff;
		cursor: pointer;
	}
	
	.icon-right {
		transform: rotate(180deg);
	}

	.swiper-button-prev-button, .swiper-button-next-button {
		display: flex;
		align-items: center;
		justify-content: center;
	}

}

@media screen and (min-width: 768px) and (max-width: 1439px) {
	.container-project {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 64px;
	}

	.swiper {
		display: flex;
		flex-direction: column;
		margin-top: 32px;
		border-radius: 24px;
		/* max-width: 1376px; */
		/* height: 625px; */
		background: #FAFAFA;
		width: 704px;
		height: 1191px;
	}

	.swiper-item-text {
		height: 50%;
		padding-left: 0;
	}

	.swiper-item-content {
		margin: 0;
		padding-left: 64px;
		padding-top: 64px;
	}

	.swiper-item-project-see {
		margin-top: 164px;
		padding-left: 64px;
	}

	.project-link {
		margin-top: 32px;
		margin-bottom: 64px;
	}

	.swiper-item-img {
		height: 50%;
		width: 100%;
		border-radius: 0px 0px 24px 24px;
	}
	
	.swiper-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.project-content-img {
		width: 614px;
		height: 385px;
		flex-shrink: 0;
		background-size: cover;
		background-position: center;
	}

	.img-1{
		background-image: url(../img/project-img/swiper_tab_img1_x1.png);
	}

	.img-2{
		background-image: url(../img/project-img/swiper_tab_img2_x1.png);
	}

	.img-3{
		background-image: url(../img/project-img/swiper_tab_img3_x1.png);
	}

	@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		.img-1{background-image: url(../img/project-img/swiper_tab_img1_x2.png);}
		.img-2{background-image: url(../img/project-img/swiper_tab_img2_x2.png);}
		.img-3{background-image: url(../img/project-img/swiper_tab_img3_x2.png);}
	}

	.swiper-button {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		flex-shrink: 0;
		gap: 20px;
		width: 156px;
		height: 68px;
	}

	.swiper-button-icon {
		padding: 18px 18px;
		border: 1px solid #fff;
		border-radius: 60px;
		fill: rgba(250, 250, 250, 0);
		stroke: #fff;
		cursor: pointer;
	}

	.icon-left {
		width: 32px;
		height: 32px;
	}
	
	.icon-right {
		transform: rotate(180deg);
		width: 32px;
		height: 32px;
	}
}

@media screen and (min-width: 1440px) {
	.container-project {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 64px;
		width: 1376px;
		height: 100%;
		align-content: center;
	}

	.swiper {
	display: flex;
	flex-direction: column;
	margin-top: 32px;
	border-radius: 24px;
	width: 1376px;
	height: 625px;
	background: #FAFAFA;
}

.swiper-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 100%;
}

.project-content-img {
	width: 614px;
	height: 385px;
	flex-shrink: 0;
	background-size: cover;
	background-position: center;
}

.img-1{
	background-image: url(../img/project-img/swiper_img1_x1.png);
}

.img-2{
	background-image: url(../img/project-img/swiper_img2_x1.png);
}

.img-3{
	background-image: url(../img/project-img/swiper_img3_x1.png);
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.img-1{background-image: url(../img/project-img/swiper_img1_x2.png);}
	.img-2{background-image: url(../img/project-img/swiper_img2_x2.png);}
	.img-3{background-image: url(../img/project-img/swiper_img3_x2.png);}
}

.swiper-button {
	display: inline-flex;
	gap: 20px;
	width: 156px;
	height: 68px;
	margin: 0 auto;
}

.swiper-button-icon {
	padding: 18px 18px;
	border: 1px solid #fff;
	border-radius: 60px;
	fill: rgba(250, 250, 250, 0);
	stroke: #fff;
	cursor: pointer;
}

.icon-left {
	width: 32px;
	height: 32px;
}

.icon-right {
	transform: rotate(180deg);
	width: 32px;
	height: 32px;
}
}