/* Reset styles */
@import '@fontsource/inter-tight/index.css';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-padding-top: 50px;
}

body {
  font-family: 'Inter Tight', sans-serif;
  background-color: #1c1d20;

  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* Якщо потрібно вирівнювати текст по центру */
}

body.is-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  height: auto;
}

.title {
  font-family: 'InterTight';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-title);
  text-transform: uppercase;
}

.section {
  margin-bottom: 64px;
}

.section:last-of-type {
  margin-bottom: 0;
}

.container {
  min-width: 320px;
  max-width: 375px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

/* @media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    padding: 0px 16px;
    max-width: 343px;
    margin: 0 auto;
  }
} */

/* @media screen and (min-width: 375px) {
  .container {
    padding: 0px 16px;
    max-width: 343px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0px 32px;
    max-width: 704px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0px 32px;
    max-width: 1376px;
    margin: 0 auto;
  }
} */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .section {
    margin-bottom: 96px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    /* width: 1440px; */
    max-width: 1440px;
    padding: 0 32px;
    margin: 0 auto;
  }

  .section {
    margin-bottom: 164px;
  }
}
