/* -Стилі контейнеру- */
.review-container {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

/* .reviews-list {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

/* .reviews-list > li {
  flex-shrink: 0;
  width: 100%;
  
} */

.reviews-list {
  width: 100%;
}

/* -Стилі Заголовку секціі- */
.review-title {
  margin-bottom: 32px;
  background-color: #1c1d20;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;

  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

/* -Стилі кнопок свайпера- */
.swiper-wrapper {
  display: flex;
}

/* .review-btn-container {
  width: 116px;
  height: 52px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 12px;
} */

.review-btn-container {
  width: 116px;
  height: 52px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 12px;
}

/* .review-btn {
  width: 52px;
  height: 52px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  flex-shrink: 0;
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
} */

.review-btn {
  width: 52px;
  height: 52px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  flex-shrink: 0;
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.review-btn:hover {
  transform: scale(1.01);
}

.swiper-button-prev-review.swiper-button-disabled {
  opacity: 0.4;
}

.swiper-button-next-review.swiper-button-disabled {
  opacity: 0.4;
}

.review-left-arrow {
  transform: rotate(180deg);
}

/* Стилі для задізейблених кнопок */
.review-btn:disabled,
.review-btn.disabled {
  border-color: rgba(250, 250, 250, 0.2);
  cursor: not-allowed;
  opacity: 0.5;
}

.review-btn:disabled .review-btn-svg,
.review-btn.disabled .review-btn-svg {
  stroke: rgba(250, 250, 250, 0.2);
}

.review-btn-svg {
  width: 32px;
  height: 32px;
}

/* -Стилі свайпер-слайдерів- */
/* .item-review {
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  margin-bottom: 32px;
  background: none;
  text-align: left;
  height: 302px;
  width: 100%;
  overflow: hidden;
} */

.item-review {
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  margin-bottom: 32px;
  background: none;
  text-align: left;
  height: 302px;
  width: 100%;
  overflow: hidden;
}

.img-review {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.name-review {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

/* .text-review {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(250, 250, 250, 0.6);
  height: 90px;
  overflow: hidden;
  margin: 0;
  padding-right: 10px;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.text-review {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(250, 250, 250, 0.6);
  height: 90px;
  overflow: hidden; /* Забирає вертикальний скрол */
  margin: 0;
  padding-right: 10px;
}

.swiper-slide {
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  margin-right: 16px;
  background: none;
  text-align: left;
  height: 302px;
  width: 100%;
  overflow: hidden;
}

.swiper-slide:last-child {
  margin-right: 0;
}

.swiper-review {
  display: flex;
  flex-direction: column;
  /* border-radius: 24px; */
  /* width: 100%; */
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 768px) {
  /* .item-review {
    width: 344px !important;
    height: 302px;
  } */

  .item-review {
    width: 344px;
  }

  .text-review {
    width: 296px;
  }

  .swiper-slide {
    width: calc(50% - 16px);
  }

  .review-btn-container {
    width: 156px;
    height: 68px;
    gap: 20px;
  }

  .review-btn {
    width: 68px;
    height: 68px;
    padding: 18px;
  }

  .reviews-list {
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .item-review {
    width: 332px;
  }

  .text-review {
    width: 284px;
  }

  .swiper-slide {
    width: calc(20% - 16px);
  }

  /* .reviews-list {
    width: calc(100% / 3 - 16px * 2 / 3);
  } */

  .review-container {
    margin-top: 96px;
    width: 100%;
  }
}
