/* -Стилі контейнеру- */
.review-container {
  box-sizing: border-box;
  display: block;
  min-width: 0;
}

/* -Стилі Заголовку секціі- */
.review-title {
  margin-top: 164px;
  margin-bottom: 32px;
  background-color: #1c1d20;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

/* -Стилі кнопок свайпера- */
.swiper-wrapper {
  display: flex;
}


.swiper-button-review,
.review-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.review-btn,
.swiper-button-icon-review {
  padding: 10px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.5);
  cursor: pointer;
  transform: none;
}

.review-btn:hover {
  transform: scale(1.01);
}

.review-left-arrow {
  transform: rotate(180deg);
}

/* Стилі для задізейблених кнопок */
.review-btn:disabled,
.review-btn.disabled {
  border-color: rgba(250, 250, 250, 0.2);
  cursor: not-allowed;
  opacity: 0.5;
}

.review-btn:disabled .review-btn-svg,
.review-btn.disabled .review-btn-svg {
  stroke: rgba(250, 250, 250, 0.2);
}

.review-btn-svg {
  width: 32px;
  height: 32px;
}

/* -Стилі свайпер-слайдерів- */
.item-review {
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  margin-bottom: 32px;
  background: none;
  text-align: left;
  height: 302px;
  width: 100%;
  overflow: hidden;
}

.img-review {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.name-review {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.text-review {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(250, 250, 250, 0.6);
  height: 90px;
  overflow-y: auto;
  margin: 0;
  padding-right: 10px;
}

.swiper-slide {
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  margin-right: 16px;
  background: none;
  text-align: left;
  height: 302px;
  width: 100%;
  overflow: hidden;
}

.swiper-slide:last-child {
  margin-right: 0;
}

/* Стиль для активного слайду */
.swiper-slide-active {
  border: 2px solid #f39c12;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.swiper-review {
  display: flex;
  flex-direction: column;
  /* border-radius: 24px; */
  width: 100%;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 768px) {
  .item-review {
    width: 344px !important;
    height: 302px;
  }

  .text-review {
    width: 296px;
    height: 90px;
  }

  .swiper-slide {
    width: calc(50% - 16px);
    height: 302px;
  }
}

@media screen and (min-width: 1440px) {
  .item-review {
    width: 332px !important;
    height: 302px;
  }

  .text-review {
    width: 284px;
    height: 90px;
  }

  .swiper-slide {
    width: calc(25% - 16px);
    height: 302px;
  }
}