/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import 'modern-normalize/modern-normalize.css';
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./reviews.css');
@import url('./work-together.css');
@import url('.//modal-window.css');

:root {
  font-family: 'Inter Tight', sans-serif;

  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgba(250, 250, 250, 0.6);

  background-color: #1c1d20;
  /* 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

html,
body {
  /* height: 100%; */
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* Якщо потрібно вирівнювати текст по центру */
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    padding: 0px 16px;
    max-width: 343px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 375px) {
  .container {
    padding: 0px 16px;
    max-width: 343px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0px 32px;
    max-width: 704px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0px 32px;
    max-width: 1376px;
    margin: 0 auto;
  }
}
